@page "/login"

@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@using ProsjektOppgaveBlazor.data.Models.ViewModel
@using ProsjektOppgaveBlazor.AuthProviders

<PageTitle>Login</PageTitle>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>Login</h4>
            </div>
            <div class="card-body">
                <input type="text" class="form-control" placeholder="username" @bind="loginViewModel.Username"/><br/>
                <input type="password" class="form-control" placeholder="password" @bind="loginViewModel.Password"/><br/>
            </div>
            <div class="card-footer">
                <input type="button" class="btn btn-success" value="Login" @onclick="HandleLogin"/>
            </div>
        </div>
    </div>
    
</div>
@code {

    private LoginViewModel loginViewModel = new LoginViewModel();
    
    
    
    private bool ShowError { get; set; }
    
    private async Task HandleLogin()
    {
        
        ShowError = false;
        
        var result = await AuthenticationService.Login(loginViewModel);

        if (result.success)
        {
            NavigationManager.NavigateTo("/");
        }
        



    }
    
    




}