
@page "/comment/{CommentId:int}"
@using ProsjektOppgaveBlazor.data.Models.ViewModel
@using Microsoft.AspNetCore.SignalR.Client

@inject HttpClient BlogHttpClient
@inject NavigationManager NavigationManager

<h3>Edit comment</h3>

@if (comment == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-3">
            <EditForm Model="@commentViewModel">
                <DataAnnotationsValidator/>
                <div class="form-group">
                        <div>
                            <label for="Name">Comment:</label>
                        <InputText class="form-control" @bind-Value="commentViewModel.Text" />
                        <ValidationMessage For="@(()=>commentViewModel.Text)" />
                        </div>
                        <button class="btn btn-primary" type="submit" @onclick="Save">Save</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </EditForm>
        </div>
    </div>
}


@code {
    [Parameter]
    public int CommentId { get; set; }

    private Comment comment = new();

    private HubConnection? HubConnection;

    private CommentViewModel commentViewModel = new();
    protected override async Task OnInitializedAsync()
    {
        comment = await BlogHttpClient.GetFromJsonAsync<Comment>($"/Comment/{CommentId}");
        commentViewModel.CommentId = comment.CommentId;
        commentViewModel.PostId = comment.PostId;
        commentViewModel.Text = comment.Text;
        commentViewModel.OwnerId = comment.OwnerId;
        
        HubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/commentHub"))
            .Build();

        await HubConnection.StartAsync();
    }
    
    private async Task Save()
    {
        var response = await BlogHttpClient.PutAsJsonAsync($"/Comment/{CommentId}", commentViewModel);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo($"/comments/{comment.PostId}");
            var currentComment = await response.Content.ReadFromJsonAsync<Comment>();
            if (HubConnection is not null)
            {
                await HubConnection.SendAsync("SendEditComment", currentComment);
            }
        }
        else
        {
            Console.WriteLine(response.Content.ReadAsStringAsync().Result);

        }
        
    }

}