@page "/posts/{BlogId}"
@using ProsjektOppgaveBlazor.data.Models;
@using System.Security.Claims
@using Microsoft.AspNetCore.SignalR.Client
@inject HttpClient BlogHttpClient
@inject NavigationManager NavigationManager

<h3>Posts</h3>

    <div class="text-center bg-blue-100">
        <input class="border-4 w-1/3 rounded m-6 p-6 h-8
               border-blue-300" @bind-value="searchTerm" @bind-value:event="oninput" placeholder="Search" />
    </div>

@if (blog != null)
{
    @if (blog.Status == 1)
    {
        <a class="btn btn-primary" href="addpost/@blog.BlogId">Create</a>
    } 
}



@if (posts == null) 
{
    <p><em>Loading...</em></p>
}
else
{

    
    <table class="table" >
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Owner</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var post in filteredPosts)
    {
        <tr>
            <td>@post.Title</td>
            <td>@post.Content</td>
            <td>@post.Owner.UserName</td>
            <td><a href="comments/@post.PostId">Comments</a></td>
            @if (post.OwnerId == userId)
            {
                <td><a href="post/@post.PostId">Edit</a></td>
                <td><a href="posts/@post.BlogId" @onclick="@(e => DeletePost(post.PostId))">Delete</a></td>
            }

        </tr>
    }
    </tbody>
    </table>
}

@code {
    [Parameter]
    public string BlogId { get; set; }
    private List<Post> posts;
    private Blog blog;

    private List<Post> filteredPosts
    {
        get
        {
            if (string.IsNullOrEmpty(searchTerm))
            {
                return posts.ToList();
            }

            string searchTermLowered = searchTerm.ToLower();
            return posts.Where(p =>
                p.Owner.UserName.ToLower().Contains(searchTermLowered) ||
                p.Content.ToLower().Contains(searchTermLowered) ||
                p.Title.ToLower().Contains(searchTermLowered) ||
                p.Tags.Any(tag => tag.content.ToLower().Contains(searchTermLowered)))
                .ToList();
        }
    }

    private string searchTerm;
    
    private HubConnection? HubConnection;
    
    private ClaimsPrincipal user;

    private string userId;
    
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
        HubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/postHub"))
            .Build();

        HubConnection.On<Post>("ReceiveCreatePost", (currentPost) =>
        {
            posts.Add(currentPost);
            InvokeAsync(StateHasChanged);
        });
        
        HubConnection.On<Post>("ReceiveEditPost", (currentPost) =>
        {
            var index = posts.FindIndex(x => x.PostId == currentPost.PostId);
            if (index != -1)
            {
                posts[index] = currentPost;
            }
            InvokeAsync(StateHasChanged);
        });
        
        HubConnection.On<int>("ReceiveDeletePost", (currentPostId) =>
        {
         
            var postToBeRemoved = posts.Find(x => x.PostId == currentPostId);
            posts.Remove(postToBeRemoved);
            InvokeAsync(StateHasChanged);
        });
        
        await HubConnection.StartAsync();

        
        var authState = await authenticationStateTask;
        
        user = authState.User;
        
        userId = user.FindFirstValue(ClaimTypes.NameIdentifier);
        
        posts = await BlogHttpClient.GetFromJsonAsync<List<Post>>($"/Post?blogId={BlogId}");
        blog = await BlogHttpClient.GetFromJsonAsync<Blog>($"/Blog/{BlogId}");
    }

    private async Task DeletePost(int id)
    {
        var response = await BlogHttpClient.DeleteAsync($"/Post/{id}");
        if (response.IsSuccessStatusCode)
        {
            if (HubConnection is not null)
            {
                await HubConnection.SendAsync("SendDeletePost", id);
            }
            NavigationManager.NavigateTo($"/posts/{BlogId}");
        }
        else
        {
            Console.WriteLine($"Error: {response.Content.ReadAsStringAsync().Result}");
        }
    }
}
